.sidebar {
  height: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  text-align: center;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #0056b3;
}
